@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body,
html {
    background-color: black;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}
.main {
    width: 100vw;
    min-height: 100vh;
    padding: 2rem;
}

h2 {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 400;
}

form{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    row-gap: 1rem;
    margin-block: 2rem;
}

input {
    width: 23rem;
    height: 3rem;
    background-color: transparent;
    border: 1px solid gray;
    padding: 1rem;
    color: white;
}

input[type="button"] {
    width: 35rem;
    font-weight: 500;
    background-color: #fff;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s linear;
}

input[type="button"]:hover {
    background-color: rgba(255, 255, 255, 0.669);
}

.inp-2>input {
    margin: auto;
    padding-left: 20px;
    width: 100%;
    height: 3rem;
    border: 1px solid #FFF;
    background: #111;
}
#table {
    background-color: transparent;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead,
tbody {
    border: 1px solid white;
}


th,
td {
    padding: 1rem;
    border-right: 1px solid white;
    border-left: 1px solid white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

th {
    text-align: left;
}

.cell-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cell-block div img {
    cursor: pointer;
}


